.column {
    float: left;
    width: 300px;
    height:400px;
}

.text1{
    float: right;
    padding:50% 0;
}
.text2{
    padding: 25% 0;
}
p{
    padding: 10px;
}

.row1
{
    float: right;
    height:200px;
    width:300px;
}
.row2{
    float: left;
    height:200px;
    width:300px;
}
.row:after {
    display: table;
    clear: both;
}
table, td {
    border: 1px solid;
    width:1200px;
    height:200px;
}
th{
    width:300px;
    height:200px;
}

