.column {
    float: left;
    width: 300px;
    height:400px;
}
.column3 {
    float: left;
    width: 300px;
    height:400px;
}
.column4 {
    float: left;
    width: 300px;
    height:400px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
table, td {
    border: 1px solid;
    width:1200px;
    height:200px;
}
th{
    width:300px;
    height:200px;
}
