ul{
    text-align:right;
    background-position:100%;
    float:left;
}
li{
    list-style-type:none;
    margin: 1em 0;
}

.button1 {
    background-color: dodgerblue;
    border: none;
    color: white;
    text-align: center;
    display: table-cell;
    float: right;
    cursor: pointer;
    border-radius: 8px;
    height:5px;
    padding: 25% 20px;
}


