/* BEGIN CODE HERE */
.image{
    height:58px;
    width: 250px;
    display:table;
    vertical-align: center;
    position: absolute;
    top:6%;
    left:10%;
}

.header{
    width: 100%;
    height: 150px;
    display: block;
    border-bottom: 1px solid lightgray;
}

.button1 {
    background-color: dodgerblue;
    vertical-align: middle;
    display: table-cell;
    color: white;
    border-radius: 8px;
    border:none;
    float:right;
    position: absolute;
    right: 280px;
    top:50px;
}

.button2 {
    background-color: transparent;
    vertical-align: middle;
    display: table-cell;
    color: dodgerblue;
    border:none;
    float:right;
    position: absolute;
    right: 180px;
    top:50px;
}

.myContainer{
    width:1200px;
    height:400px;
    position:absolute;
    left:10%;
}
.myColumn1{
    width:600px;
    height: 400px;
}
.Heading1{
    position:absolute;
    left:10px;
}
.heading1{
    position:absolute;
    top:70px;
    left:10px;
}
.image1{
    float: right;
    position: absolute;
    width:600px;
    height:400px;
    right:0;
}

.myContainer2{
    width:1200px;
    height:400px;
    position:absolute;
    left:10%;
    top:570px;
}
.myColumn2{
    width:300px;
    height:400px;
    top:25px;
    position:absolute;
}

.myColumn3{
    width:300px;
    height: 400px;
    position:absolute;
    left:300px
}
.myColumn4{
    width:300px;
    height: 400px;
    position:absolute;

    left:600px;
}
.subRow4{
    position:absolute;
    width:300px;
    height:200px;
}
.myColumn5{
    width:300px;
    height: 400px;
    left:900px;
    position:absolute;
}
.subRow5{
    position:absolute;
    width:300px;
    height:200px;
}
.image2{
    width:300px;
    height:200px;
    position:absolute;
}
.image3{
    width:300px;
    height:200px;
    position:absolute;
    bottom:0;
}
.subHeading1{
    position:absolute;
    bottom:0;
    right:10px;
}
.subHeading2{
    position:absolute;
    bottom:80px;
    left:20px;
}
iframe{
    position:absolute;
    width:1200px;
    height:600px;
    top:1000px;
    left:150px;
}
.footer{
    position: absolute;
    top:1700px;
    width:100%;
    height: 100px;
    border-top: 1px solid black;
}
.footertext{
    position:absolute;
    left:25%;
    top:40px;
}
/* END CODE HERE */
